<div class="component-container">

  <div class="component-header">
    <div>Withdrawal List</div>
    
  </div>
  <div class="flex-btw wrap" style="margin-bottom:20px;">
    <div class="flex">
      <div class="search-container">
        <div>
          <input type="text" class="mSearch" style="margin: 0px;"
         
          [(ngModel)]="email"
          placeholder="Search email...">
         
        </div>
        <div>
          &nbsp;
          <button mat-raised-button (click)="getWithdrawalByEmail()" color="accent">Search email
          </button>
          &nbsp;
          &nbsp;
          <button mat-raised-button
          (click)="getWithdrawalList()"
          color="accent">Get all</button>
        </div>

        <div *ngIf="loading">
        <mat-spinner color="accent" [strokeWidth]=3 [diameter]=18>
        </mat-spinner>
      </div>
      </div>

      
    </div>

    <div>
      <mat-form-field class="jamez-input" floatLabel="never">
        <input matInput autocomplete="off" [(ngModel)]="todate" [matDatepicker]="pickers" placeholder="Search date">
        <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
        <mat-datepicker #pickers></mat-datepicker>
      </mat-form-field>

      &nbsp;
      <button mat-raised-button (click)="getWithdrawalByDate()" color="accent">Search date
      </button>
    </div>

  </div>

  <div>
   <div><span >{{message2}}</span></div>
    <table class="table" mat-table 
    [dataSource]="listData" matSort aria-label="Elements">

      <ng-container matColumnDef="accountname">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row" data-label="name">{{row.accountname}}</td>
      </ng-container>

      <ng-container matColumnDef="accountnumber">
        <th mat-header-cell *matHeaderCellDef>Account</th>
        <td mat-cell *matCellDef="let row" data-label="name">{{row.accountnumber}}</td>
      </ng-container>

      <ng-container matColumnDef="amount" class="flex-start">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let row" data-label="Amount">
          <div>{{row.amount | number}}</div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="walletbalance"  class="flex-start">
        <th mat-header-cell *matHeaderCellDef>Wallet balance</th>
        <td mat-cell *matCellDef="let row" data-label="Wallet balance">
          <div>{{row.walletbalance | number}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row" data-label="Action">

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button (click)=viewRow(row) mat-menu-item>View</button>
            <button mat-menu-item style="color:#44b137" (click)="approve(row)">Approve</button>
            <button mat-menu-item style="color:crimson" (click)="decline(row)">Decline</button>
          </mat-menu>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator #paginator class="paginator" showFirstLastButtons [length]="tableLength" [pageIndex]="0"
      [pageSize]="7">
    </mat-paginator>
  </div>

</div>