table {
    width: 100%;
    
}

.jamez-input{
    width:150px;
}



.mat-column-name{
   display: none;
}
.mat-column-contactmobile{
    display: none;
 }
 .mat-column-contactemail{
    display: none;
 }
.searchParam{
    display: flex;
}
