table {
    width: 100%;
    cursor: pointer;
    
}

.jamez-input{
    width:150px;
}
.mat-column-trandate{
    justify-content: center;
}
.mat-column-amount{
    justify-content: center;
}
.mat-column-email{
    width: auto !important;
}