<div class="landing-container">
  <div class="overlay">
    <div class="signin">
      <div *ngIf="loading" class="loader">
        <mat-spinner 
          color="accent"
          [strokeWidth]= 3
          [diameter]=18>
        </mat-spinner>
      </div>
      <form [formGroup]="SigninForm" (ngSubmit)="SignIn()">
        <div class="align-center">
          <img src="../../../admin/assets/images/swipe-logo.png" width="160"
          class="logo" alt="">
        </div>
        <p class="warning-msg">{{message}}</p>
        <mat-form-field>
          <span matPrefix>
            <mat-icon class="mat-18x position-relative" style="top:3px; color:#666">account_circle</mat-icon> &nbsp;
          </span>
          <input matInput formControlName="email" placeholder="Username">
        </mat-form-field> 

        <mat-form-field>
          <input type="password" id="loginpassword"
          formControlName="password"
          matInput placeholder="Password">
          <span matPrefix>
            <mat-icon class="mat-18x position-relative" style="top:3px; color:#666">lock</mat-icon> &nbsp;
          </span>
          <button matSuffix 
          (click)="showPass()" *ngIf=shown
          mat-icon-button 
          aria-label="Visible" >
            <mat-icon>visibility</mat-icon>
          </button>

          <button matSuffix 
          (click)="showPass()" *ngIf=!shown
          mat-icon-button 
          aria-label="Visible" >
            <mat-icon>visibility_off</mat-icon>
          </button>
          <!-- <span matPrefix><mat-icon class="mat-20x position-relative" style="top:3px">lock</mat-icon></span>
          <input matInput type="password" formControlName="password" placeholder="pasword"> -->
        </mat-form-field>

        <div class="align-center">
          <button mat-raised-button class="signin-button" color="accent"
          [disabled]="loading">Log in to your account
          <!-- <i class="fa fa-spinner fa-pulse fa-fw"></i> -->
          <!-- <span class="sr-only">Loading...</span> -->
          </button>
        </div>
        &nbsp;
      </form>
    </div>


    <div style="position:fixed; bottom:0;">
      <div style="display:flex; justify-content:center; font: size 16px;
      padding:30px; color:#fafafa">
        <div>&copy; 2019 <span style="color:#44b137">SWIPE NG.</span> All rights reserved</div>

      </div>

    </div>
  </div>
</div>