.view-container{
    width:670px;
    display:flex;
    justify-content: space-between;
    .view{
        display: flex;
        flex: 2 1 80%;
        
    }
    .view-column{
        width:50%;
        margin-left: 20px;
        .info{
            margin:15px auto;
            .header{
                margin:5px 0; 
                font-size: 16px;
                font-weight:500;
                color: #ababab;
            }
            .content{
                font-size: 15px;
                font-weight:500;
                color: #3c3c3c;
            }
        }
    }
    .img{
    flex: 1 1 100px;
    height: 100px;
    border: 1px solid;
    margin: 10px auto;
    
}
}



@media screen and (max-width:670px){
    .view-container{
        width:100%;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .view-column{
            width:100%;
            .info{
                margin:15px auto;
                .header{
                    margin:5px 0;
                    font-size: 16px;
                    font-weight:500;
                    color: #ababab;
                }
                .content{
                    font-size: 15px;
                    font-weight:500;
                    color: #3c3c3c;
                }
            }
        }
    }   
}