<div class="container">
    <div class="header">
        <div style="margin-right: 10px;">
            <span (click)="previous()">
                <mat-icon class="previousArrow" color="primary">keyboard_backspace</mat-icon>
            </span>
        </div>
        <div>
            {{intListData.category}}</div>

        &nbsp;
        &nbsp;
        <div *ngIf="loading">
            <mat-spinner color="accent" [strokeWidth]=3 [diameter]=18>
            </mat-spinner>
        </div>

        <div class="replyIcon"><button (click)="openAccordion()" mat-mini-fab color="primary">
                <mat-icon>reply</mat-icon>
            </button></div>
    </div>

    <div class="formsContainer" *ngIf="openPanel">
        <span style="color: green;" *ngIf="submitMsg">{{message}} 
                </span>

        <form class="forms" [formGroup]="form">
            
            <mat-expansion-panel *ngIf="!submitMsg" [expanded]="hideShow" class="formExpandable">
                <mat-expansion-panel-header class="mat-header-form">

                </mat-expansion-panel-header>


                <mat-form-field>

                    <input matInput formControlName="email" name="email" [readonly]="emailDisable">
                    <span matPrefix style="padding-bottom: 0px;">
                        <mat-icon> mail_outline&nbsp;</mat-icon>
                    </span>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Textarea</mat-label>
                    <textarea formControlName="responseMessage" matInput></textarea>
                </mat-form-field>
                <mat-action-row>
                    <div>
                        <button class="btn1" mat-raised-button color="warn" (click)="closeAccordion()">Close</button>
                        <button mat-raised-button color="primary" (click)="supportReply()">Send</button>
                    </div>
                </mat-action-row>

            </mat-expansion-panel>


        </form>


    </div>
    <mat-divider></mat-divider>


    <div class="initiatorMsg">

        <div class="initiatorMsgHeader">
            <div><span>
                    <mat-icon>person</mat-icon>
                </span>&nbsp;{{intListData.initiatoremail}} </div>

            <div class="datePosted">{{intListData.dateposted}}</div>
            <mat-divider></mat-divider>
        </div>
        <div class="initiatorMsgBody">
            <div>
                <!-- <p>{{intListData.description}}</p></div> -->
                <mat-card>
                    <!-- <mat-card-header>
            
                    </mat-card-header> -->
                    <mat-card-content>
                        {{intListData.description}}
                    </mat-card-content>

                </mat-card>



            </div>
        </div>


        <div *ngFor="let list of listData">
            <mat-accordion>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div>
                            <mat-icon>person</mat-icon>&nbsp;{{list.postedbyemail}}
                        </div>
                        <div class="datePosted">{{list.dateposted }}</div>

                    </mat-expansion-panel-header>
                    <!-- <p>{{list.postedbyname}},</p>
          <div>{{list.description}}</div> -->

                    <mat-card>
                        <!-- <mat-card-header>
    
            </mat-card-header> -->
                        <mat-card-content>
                            <p>{{list.postedbyname}},</p>
                            <div>{{list.description}}</div>
                        </mat-card-content>

                    </mat-card>

                </mat-expansion-panel>


            </mat-accordion>
        </div>




    </div>
</div>