<div class="container">
    <div class="header">
        <div style="margin-right: 10px;">
            <span (click)="previous()">
                <mat-icon class="previousArrow" color="primary">keyboard_backspace</mat-icon>
            </span>
        </div>
        <div>
            <!-- {{intListData.category}}-->
            </div> 

        &nbsp;
        &nbsp;
        <div *ngIf="loading">
            <mat-spinner color="accent" [strokeWidth]=3 [diameter]=18>
            </mat-spinner>
        </div>

        <!-- <div class="replyIcon">
            <button (click)="openAccordion()" mat-mini-fab color="primary">
                <mat-icon>reply</mat-icon>
            </button>
        </div> -->
    </div>

    <!-- [expanded]="hideShow" -->

    <div class="content-wrapper">
        <mat-accordion >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="flex-el has-text-primary">
                            <mat-icon>edit</mat-icon> &nbsp; <span>REPLY</span>  
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form class="forms" [formGroup]="form">        
                    <span style="color: green;" *ngIf="submitMsg">{{message}} </span>  
                    &nbsp;              
                    <div class="flex-btw">
                        <mat-form-field appearance="fill" style="width: 45%;">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" name="name" [readonly]="emailDisable">
                            <span matPrefix style="padding-bottom: 0px;">
                                <mat-icon> person</mat-icon>
                            </span>
                        </mat-form-field>

                        <mat-form-field appearance="fill" style="width: 45%;">
                            <mat-label>Email Address</mat-label>
                            <input matInput formControlName="email" name="email" [readonly]="emailDisable">
                            <span matPrefix style="padding-bottom: 0px;">
                                <mat-icon> mail_outline</mat-icon>
                            </span>
                        </mat-form-field>
                    </div>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Message</mat-label>
                        <textarea rows="8" formControlName="responseMessage" matInput></textarea>
                    </mat-form-field>
        
                    <mat-action-row>
                        <div>
                            <button class="btn1" mat-button color="warn" (click)="closeAccordion()">Close</button>
                            <button mat-raised-button color="primary" (click)="supportReply()">Send</button>
                        </div>
                    </mat-action-row>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    
        &nbsp;
        <!-- <mat-accordion>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="flex-el">
                            <mat-icon>person</mat-icon>&nbsp;{{intListData.initiatoremail}}
                        </div>
                        <div class="datePosted">{{intListData.dateposted}}</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div>
                    {{intListData.description}}
                </div>
            </mat-expansion-panel>
        </mat-accordion> -->
    
        <mat-accordion>
            <mat-expansion-panel  *ngFor="let list of listData">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="flex-el">
                            <mat-icon>person</mat-icon>&nbsp;{{list?.postedbyemail}}
                        </div>
                        <div class="datePosted">{{list?.dateposted}}</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- <p> <b>Hello {{list.postedbyname}}</b> ,</p> -->
                <div style="padding: 17px 10px;">{{list.description}}</div>
                
            </mat-expansion-panel>
            &nbsp;

        </mat-accordion>
    </div>
    
</div>