<div class="component-container">
  <div class="component-header">
    <div>Credit Card</div>
  </div>
  <div class="flex-btw wrap">
    <div class="flex-el">
      <div class="search-container">
        <mat-icon class="prefix">search</mat-icon> 
        <input type="text" class="mSearch"
        (keyup)=applyFilter()
        [(ngModel)]="searchKey"
        placeholder="Search...">
        <mat-icon class="suffix" *ngIf="searchKey != ''"
        (click)="clearSearch()">close</mat-icon>
      </div>
      &nbsp;
      &nbsp;
      
      <div *ngIf="loading">
        <mat-spinner
          color="accent"
          [strokeWidth]= 3
          [diameter]=18>
        </mat-spinner>
      </div>
      &nbsp;
      <button mat-raised-button
      (click)="getInitList()"
      color="accent">Get all</button>
    </div>
    
    <div>
      <mat-form-field class="jamez-input"
      floatLabel="never">
        <input matInput autocomplete="off" [(ngModel)]="fromdate"
        [matDatepicker]="pickers" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
        <mat-datepicker #pickers></mat-datepicker>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="jamez-input" floatLabel="never">
        <input matInput autocomplete="off"  [(ngModel)]="todate"
        [matDatepicker]="picker" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      &nbsp;    
      <button mat-raised-button
          (click)="getCreditCardList()"
          color="accent">Search date
      </button>
    </div>
  
  </div> 
  
  <div>
    <table mat-table class="full-width-table" [dataSource]="listData" 
    matSort aria-label="Elements">
      <ng-container matColumnDef="card">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Card holder</th>
        <td mat-cell *matCellDef="let row" data-label="Card Holder">{{row.cardholder}}</td>
      </ng-container>

      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
        <td mat-cell *matCellDef="let row" data-label="Balance">{{row.balance | number}}</td>
      </ng-container>

      <ng-container matColumnDef="expiry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry date</th>
        <td mat-cell *matCellDef="let row" data-label="Expiry Date">{{row.expirdate}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date created</th>
        <td mat-cell *matCellDef="let row" data-label="Date Created">{{row.datecreated|date}}</td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row" data-label="Status">{{row.active == true ?'Active':'Inactive'}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row"  data-label="Action">
          <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu = "matMenu">
            <button mat-menu-item 
            (click)="activateCard(row)"
            style="color:#44b137">Unfreeze card</button>
            <button mat-menu-item    
            (click)="deactivateCard(row)"
            style="color:crimson">Freeze card</button>
            <button mat-menu-item
            (click)="terminateCard(row)"
            style="color:crimson">Terminate card</button>
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
    showFirstLastButtons
      [length]="tableLength"
      [pageIndex]="0"
      [pageSize]="7">
    </mat-paginator>
  </div>

</div>
  
