<div class="component-header">
  <div class="flex-el"> 
    <!-- <mat-icon class="mat-18x">add</mat-icon>&nbsp; -->
    <span>New Savings type</span> 
    &nbsp;
    &nbsp;
    <div *ngIf="loading">
      <mat-spinner 
        color="accent"
        [strokeWidth]= 3
        [diameter]=18>
      </mat-spinner>
    </div>
  </div>
</div>

<form [formGroup]="addTypeForm" autocomplete="off"
(ngSubmit)="saveType()">

  <div class="info-vertical">
    <mat-form-field>
      <input matInput formControlName='name' placeholder="Type name">
    </mat-form-field> 

    <mat-form-field>
      <input matInput type="number" formControlName='minday' placeholder="Min day">
    </mat-form-field> 

    <mat-form-field>
      <input matInput type="number" formControlName='maxday' placeholder="Max day">
    </mat-form-field> 

    <mat-form-field>
      <input matInput type="number" formControlName='point' placeholder="Point">
    </mat-form-field> 
  </div>
    
  <div style="display: flex; justify-content: flex-end;">
    <button mat-raised-button color="accent">Save</button> &nbsp; &nbsp;
    <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  </div>
</form>
  