$primary-color : #8948fc;
$secondary-color:#3fc5fa;
$tertiary-color:#17223E;

.component-container{
    padding-bottom:0px;

}

.card1{
    background: url(../../../assets/images/graphics1.png) no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #fff;
}

.top-roll{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .mat-card{
        margin:10px 5px;
        width:300px;
        // height:100px;
    }
}

.last-updated{
    color:#aaa; 
    font-size:12px;
}

.paginator{
    width:100%;
}

.left-card{
    // position:relative;
    width:28%;
    width:300px;
    margin:0 20px;
}

.mat-card{
    box-shadow: 0px 2px 8px 0px #ddd;
    border-radius: 5px;
    
    .digits{
        font-weight: 500;
        font-size:23px;
        color:$primary-color;
    }

    .title{
        font-weight: 500;
        font-size:15px;
        color:$tertiary-color;
        margin:5px 0;
    }
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.dashboard-table{
    width:64%;
    box-shadow: 0px 2px 8px 0px #ddd;
    border-radius: 5px!important;
}

.full-width-table {
    width: 100%;
}

@media only screen and (max-width: 670px) {
    .flex-el{
        display: flex;
        flex-direction: column;
    }

    .dashboard-table{
        width:100%;
    }
    
    .top-roll{
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .mat-card{
            margin:10px 5px;
            width:100%;
            // height:100px;
        }
    }
    
    .left-card{
        width:90%;
        margin:20px 0;
    }
}

.rounded{
    width:50px;
    height:50px;
    border-radius: 50%;
    background:rgba($tertiary-color,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    .mat-icon{
        color:#fff;
    }
}

.component-container{
    padding-bottom:20px;
}


