<div class="component-container">
  <div style="font-weight:500; font-size:20px; color:#17223e; margin-bottom:5px;">Dashboard</div>

  <mat-grid-list cols="3" rowHeight="fit" style="height: 500px" [gutterSize]="'10px'">
    <mat-grid-tile>

      <mat-card>
        <div style="display:flex; justify-content:space-between">
          <div class="rounded">
            <mat-icon>group</mat-icon>
          </div>
          <div>
            <img src="assets/images/line1a.png" width="100px" alt="">
          </div>
        </div>
        &nbsp;

        <div class="title">Daily Users</div>
        <div class="digits">{{dashboard.dailyusers | number }}</div>
        <mat-divider></mat-divider>
        <div class="title">Total Users</div>
        <div class="digits">{{dashboard.totalusers | number }}</div>

        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="last-updated flex-end">Last updated: {{lastUpdate | date:'shortTime'}}</div>
      </mat-card>

    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card>
        <!-- <div class="flex-end">
          <img src="../../../assets/images/g2.png" width="80px" height="40px" alt="">
        </div> -->
        <div style="display:flex; justify-content:space-between">
          <div class="rounded">
            <mat-icon>save_alt</mat-icon>
          </div>
          <div>
            <img src="assets/images/line3.png" width="100px" alt="">
          </div>
        </div>
        &nbsp;
        <div class="title">Daily Savings</div>
        <div class="digits">{{dashboard.dailysaving | currency:'NGN':'symbol-narrow' }}</div>
        <mat-divider></mat-divider>
        <div class="title">Total Savings</div>
        <div class="digits">{{dashboard.totalsaving | currency:'NGN':'symbol-narrow' }}</div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="last-updated flex-end">
          Last updated: {{lastUpdate | date:'shortTime'}}
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <div style="display:flex; justify-content:space-between">
          <div class="rounded">
            <mat-icon>transit_enterexit</mat-icon>
          </div>
          <div>
            <img src="assets/images/line4.png" width="100px" alt="">
          </div>
        </div>
        &nbsp;

        <div class="title">Daily Charges</div>
        <div class="digits">{{dashboard.dailycharges| currency:'NGN':'symbol-narrow'}}</div>
        <mat-divider></mat-divider>
        <div class="title">Total Charges</div>
        <div class="digits">{{dashboard.totalcharges| currency:'NGN':'symbol-narrow'}}</div>

        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="flex-end last-updated"> Last updated: {{lastUpdate | date:'shortTime'}}</div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <div style="display:flex; justify-content:space-between">
          <div class="rounded">
            <mat-icon>credit_card</mat-icon>
          </div>
          <div class="title" style="font-size:20px; font-weight:400">Swipe Credit </div>
        </div>
        &nbsp;
           <div class="flex-btw">
            <div class="title" style="font-size:15px; font-weight:500">Daily Credit:</div>
            <div class="digits" style="font-size:18px;"> {{dashboard.dailycredit | currency:'NGN':'symbol-narrow'}}</div>
          </div>
          <div class="flex-btw">
            <div class="title" style="font-size:15px; font-weight:500">Total Credit:</div>
            <div class="digits" style="font-size:18px;"> {{dashboard.totalcredit | currency:'NGN':'symbol-narrow'}}</div>
          </div>
        &nbsp;
        <div class="flex-btw">
          <div class="title">Daily Cards:</div>
          <div class="digits" style="font-size:18px;"> {{dashboard.dailycard | number}}</div>
          <div class="title">Total Cards:</div>
          <div class="digits" style="font-size:18px;"> {{dashboard.totalcard | number}}</div>

        </div>
      
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="flex-end last-updated"> Last updated: {{lastUpdate | date:'shortTime'}}</div>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>

      <mat-card>
        <div style="display:flex; justify-content:space-between">
          <div class="rounded">
            <mat-icon>attach_money</mat-icon>
          </div>
          <div class="title" style="font-size:20px; font-weight:400">Swipe Vault </div>


        </div>
        &nbsp;
        <div class="flex-btw">
          <div class="title" style="font-size:15px; font-weight:500">Total Target:</div>
          <div class="digits" style="font-size:18px;"> {{dashboard.totaltarget | currency:'NGN':'symbol-narrow'}}</div>
        </div>

        <div class="flex-btw">
          <div class="title" style="font-size:15px; font-weight:500">Total Lock:</div>
          <div class="digits" style="font-size:18px;"> {{dashboard.totallock | currency:'NGN':'symbol-narrow'}}</div>
        </div>

        <div class="flex-btw">
          <div class="title" style="font-size:15px; font-weight:500">Total Core:</div>
          <div class="digits" style="font-size:18px;"> {{dashboard.totalcore | currency:'NGN':'symbol-narrow'}}</div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="flex-end last-updated"> Last updated: {{lastUpdate | date:'shortTime'}}</div>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>

      <mat-card>

        <div style="display:flex; justify-content:space-between">
          <div class="rounded">
            <mat-icon>account_balance</mat-icon>
          </div>
          <div class="title" style="font-size:20px; font-weight:400">Swipe Wallet</div>
        </div>
        &nbsp;
        <div class="flex-btw">
          <div style="font-size:15px; font-weight:500">Total wallet:</div>
         
          <div class="digits" style="font-size:18px;" >
            {{dashboard.totalwallet | currency:'NGN':'symbol-narrow'}}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="flex-btw">
          <div style="font-size:15px; font-weight:500">Paystack:</div>
          <div *ngIf="loadingpaystack">
            <span style="font-size: 12px; font-weight: 200;">loading...</span>
          </div>
          <div class="digits" style="font-size:18px;" *ngIf="!loadingpaystack">
            {{paystackBalance | currency:'NGN':'symbol-narrow'}}</div>
        </div>

        <div class="flex-btw">
          <div style="font-size:15px; font-weight:500">Monify:</div>
          <div *ngIf="loadingmonify">
              <span style="font-size: 12px; font-weight: 200;">loading...</span>
          </div>
          <!-- <div *ngIf="loadingmonify">{{errorMsg}}</div> -->
          <div class="digits" style="font-size:18px;" *ngIf="!loadingmonify">
            {{monifyBalance | currency:'NGN':'symbol-narrow'}}</div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="flex-end last-updated"> Last updated: {{lastUpdate | date:'shortTime'}}</div>
      </mat-card>
    </mat-grid-tile>




  </mat-grid-list>



</div>