<div class="component-header">
    <div>
        <mat-icon class="mat-18x">account_balance_wallet</mat-icon> &nbsp;Income Details
    </div>
    <button mat-button color="warn" (click)="closeDialog()">Close</button>
</div>
<!-- <div class="view-container">
    <div class="view-column">
        <div class="info">
            <div class="header">Account name</div>
            <div class="content">{{data.accountholder}}</div>
        </div>
        <div class="info">
            <div class="header">Phone number</div>
            <div class="content">{{data.accountholderphone}}</div>
        </div>
        <div class="info">
            <div class="header">Amount</div>
            <div class="content">{{data.amount}}</div>
        </div>

    </div>
    <div class="view-column">
        <div class="info">
            <div class="header">Description</div>
            <div class="content">{{data.description}}</div>
        </div>
        <div class="info">
            <div class="header">Category</div>
            <div class="content">{{data.category}}</div>
        </div>
        <div class="info">
            <div class="header">Channel</div>
            <div class="content">{{data.channel}}</div>
        </div>
    </div>
        <div class="view-column">
            <div class="info">
                <div class="header">Type</div>
                <div class="content">{{data.type}}</div>
            </div>
            <div class="info">
                <div class="header">Charges</div>
                <div class="content">{{data.deduction}}</div>
            </div>
            <div class="info">
                <div class="header">Date</div>
                <div class="content">{{data.trandate}}</div>
            </div>
        </div>

</div> -->