<div class="component-container">
  <div class="component-header">
    <div>
      <div class="flex-el">
        <mat-form-field class="jamez-input"
        floatLabel="never">
          <input matInput autocomplete="off" [(ngModel)]="fromdate"
          [matDatepicker]="pickers" placeholder="Start date">
          <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
          <mat-datepicker #pickers></mat-datepicker>
        </mat-form-field>
        &nbsp;
        <mat-form-field class="jamez-input" floatLabel="never">
          <input matInput autocomplete="off"  [(ngModel)]="todate"
          [matDatepicker]="picker" placeholder="End date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        &nbsp;

        <div class="normal-flex-el">
          <button mat-raised-button 
          (click)="filterSearch()"
          color="accent">Search</button>
          &nbsp;
          <div *ngIf="loading">
            <mat-spinner 
              color="accent"
              [strokeWidth]= 3
              [diameter]=18>
            </mat-spinner>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button mat-button color="accent">
        <mat-icon class="mat-18x">local_printshop</mat-icon> &nbsp;
        <span>Print</span> 
      </button>
    </div>
  </div>
  
  <div class="flex-btw">
  </div>
  <div>
    <table mat-table class="full-width-table" [dataSource]="listData" 
    matSort aria-label="Elements">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let row"  data-label="Description">{{row.description}}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let row" data-label="Amount">{{row.amount | currency:'N'}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row" data-label="Date">{{row.date}}</td>
      </ng-container>

      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transfer from</th>
        <td mat-cell *matCellDef="let row" data-label="Transfer From">{{row.from}}</td>
      </ng-container>

      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transfer to</th>
        <td mat-cell *matCellDef="let row" data-label="Transfer To">{{row.to}}</td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row" data-label="Status">{{row.status}}</td>
      </ng-container>

      <ng-container matColumnDef="no-activity">
        <mat-footer-cell *matFooterCellDef>
          No record found
        </mat-footer-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <mat-footer-row *matFooterRowDef="['no-activity']" 
        [ngClass]="{'hide': tableLength != 0 }">
      </mat-footer-row>
    </table>
  
    <mat-paginator #paginator
      [length]="tableLength"
      [pageIndex]="0"
      [pageSize]="6">
    </mat-paginator>
  </div>

</div>
  
