<div class="component-container">
  <div class="flex-btw">
    <div class="normal-flex-el">
      <div class="search-container">
        <mat-icon class="prefix">search</mat-icon>
        <input type="text" class="mSearch"
        (keyup)=applyFilter()
        [(ngModel)]="searchKey"
        placeholder="Search...">
        <mat-icon class="suffix" *ngIf="searchKey != ''"
        (click)="clearSearch()">close</mat-icon>
      </div>
      &nbsp;
      &nbsp;
      <div *ngIf="loading">
        <mat-spinner 
          color="accent"
          [strokeWidth]= 3
          [diameter]=18>
        </mat-spinner>
      </div>
    </div>

  </div>
  
  <div>
    <mat-table  [dataSource]="listData" 
    matSort aria-label="Elements">
    
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Account ID</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Account ID">{{row.id}}</mat-cell>
    </ng-container>

      <ng-container matColumnDef="account">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Account number</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Account Number">{{row.accountno}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fullname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Full name</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Full Name">{{row.fullname}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Phone Number">{{row.phone}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email address</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Email Address">{{row.email}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Status">{{row.status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="BVN">
        <mat-header-cell *matHeaderCellDef mat-sort-header>BVN</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="bvn">{{row.bvn}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bank">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bank</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="bank">{{row.bank}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="salaryrange">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Salary range</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="salaryrange">{{row.salaryrange}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="DOB">
        <mat-header-cell *matHeaderCellDef mat-sort-header>DOB</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="dob">{{row.dob}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="workplace">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Work place</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="workplace">{{row.placeofwork}}</mat-cell>
      </ng-container>



      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu = "matMenu">
            <button mat-menu-item  (click)="openUserView(row)">View details</button>
            <button mat-menu-item  (click)="openUserReport(row)">User report</button>
            <!-- <button mat-menu-item (click)="openUserEdit(row)" >Edit user</button> -->
            <button mat-menu-item (click)="disableUser(row.id)" style="color:rgb(110, 81, 87)">{{status}}</button>

          </mat-menu>
        </mat-cell>
      </ng-container>  
  
      <ng-container matColumnDef="no-activity">
        <mat-footer-cell *matFooterCellDef>
          No record found
        </mat-footer-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['no-activity']" 
        [ngClass]="{'hide': tableLength != 0 }">
      </mat-footer-row>

      
    </mat-table>
  
    <mat-paginator #paginator
      [length]="tableLength"
      [pageIndex]="0"
      [pageSize]="7">
    </mat-paginator>
  </div>

</div>
  