<div class="component-container">
  <div class="flex-btw">
    <div class="normal-flex-el">
      <div class="search-container">
        <mat-icon class="prefix">search</mat-icon>
        <input type="text" class="mSearch"
        (keyup)=applyFilter()
        [(ngModel)]="searchKey"
        placeholder="Search...">
        <mat-icon class="suffix" *ngIf="searchKey != ''"
        (click)="clearSearch()">close</mat-icon>
      </div>
      &nbsp;
      &nbsp;
      <div *ngIf="loading">
        <mat-spinner 
          color="accent"
          [strokeWidth]= 3
          [diameter]=18>
        </mat-spinner>
      </div>
      &nbsp;
      <button mat-raised-button
      (click)="getUsersList()"
      color="accent">Get all</button>
    </div>
    <div  >
      <mat-form-field class="jamez-input"
      floatLabel="never">
        <input matInput autocomplete="off" [(ngModel)]="fromdate"
        [matDatepicker]="pickers" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
        <mat-datepicker #pickers></mat-datepicker>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="jamez-input" floatLabel="never">
        <input matInput autocomplete="off"  [(ngModel)]="todate"
        [matDatepicker]="picker" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      &nbsp;
      <button mat-raised-button
      (click)="searchByDate()"
      color="accent">Search</button>
      
    </div>
  </div>
  
  <div>
    <table mat-table  mat-table class="full-width-table" [dataSource]="listData" 
    matSort aria-label="Elements">
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Account ID</th>
      <td mat-cell *matCellDef="let row" data-label="Account ID">{{row.id}}</td>
    </ng-container>

      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Account number</th>
        <td mat-cell *matCellDef="let row" data-label="Account Number">{{row.accountno}}</td>
      </ng-container>

      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full name</th>
        <td mat-cell *matCellDef="let row" data-label="Full Name">{{row.fullname}}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</th>
        <td mat-cell *matCellDef="let row" data-label="Phone Number">{{row.phone}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email address</th>
        <td mat-cell *matCellDef="let row" data-label="Email Address">{{row.email}}</td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date register</th>
        <td mat-cell *matCellDef="let row" data-label="date">{{row.datereg |date}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row" data-label="Status">{{row.status}}</td>
      </ng-container>

      <ng-container matColumnDef="BVN">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>BVN</th>
        <td mat-cell *matCellDef="let row" data-label="bvn">{{row.bvn}}</td>
      </ng-container>

      <ng-container matColumnDef="bank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank</th>
        <td mat-cell *matCellDef="let row" data-label="bank">{{row.bank}}</td>
      </ng-container>

      <ng-container matColumnDef="salaryrange">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary range</th>
        <td mat-cell *matCellDef="let row" data-label="salaryrange">{{row.salaryrange}}</td>
      </ng-container>

      <ng-container matColumnDef="DOB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DOB</th>
        <td mat-cell *matCellDef="let row" data-label="dob">{{row.dob}}</td>
      </ng-container>

      <ng-container matColumnDef="workplace">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Work place</th>
        <td mat-cell *matCellDef="let row" data-label="workplace">{{row.placeofwork}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu = "matMenu">
            <button mat-menu-item  (click)="openUserView(row)">View details</button>
            <button mat-menu-item  (click)="openUserReport(row)">User report</button>
            <!-- <button mat-menu-item (click)="openUserEdit(row)" >Edit user</button> -->
            <button mat-menu-item (click)="disableUser(row.id)" style="color:rgb(110, 81, 87)">{{status}}</button>

          </mat-menu>
        </td>
      </ng-container>  
  
      <ng-container matColumnDef="no-activity">
        <mat-footer-cell *matFooterCellDef>
          No record found
        </mat-footer-cell>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      <mat-footer-row *matFooterRowDef="['no-activity']" 
        [ngClass]="{'hide': tableLength != 0 }">
      </mat-footer-row>

      
    </table>
  
    <mat-paginator #paginator
    showFirstLastButtons
      [length]="tableLength"
      [pageIndex]="0"
      [pageSize]="7">
    </mat-paginator>
  </div>

</div>
  