<div class="component-container">
  <div class="component-header">
    <div>All transactions</div>
  </div>
  <div class="flex-btw wrap">
    <div class="flex-el">
      <div class="search-container">
        <mat-icon class="prefix">search</mat-icon>
        <input type="text" class="mSearch" (keyup)=applyFilter() [(ngModel)]="searchKey" placeholder="Search...">
        <mat-icon class="suffix" *ngIf="searchKey != ''" (click)="clearSearch()">close</mat-icon>
      </div>
      &nbsp;
      &nbsp;
      <div *ngIf="loading">
        <mat-spinner color="accent" [strokeWidth]=3 [diameter]=18>
        </mat-spinner>
      </div>
      &nbsp;
      <button mat-raised-button (click)="getTransactionList()" color="accent">Get all</button>
    </div>
    <div>
      <mat-form-field class="jamez-input" floatLabel="never">
        <input matInput autocomplete="off" [(ngModel)]="fromdate" [matDatepicker]="pickers" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
        <mat-datepicker #pickers></mat-datepicker>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="jamez-input" floatLabel="never">
        <input matInput autocomplete="off" [(ngModel)]="todate" [matDatepicker]="picker" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      &nbsp;
      <button mat-raised-button (click)="searchByDate()" color="accent">Search
      </button>
    </div>

  </div>
  <div>
    <table mat-table class="full-width-table" [dataSource]="listData" matSort aria-label="Elements">
      <ng-container matColumnDef="channel">
        <th mat-header-cell *matHeaderCellDef>Channel</th>
        <td mat-cell *matCellDef="let row" data-label="Channel">{{row.channel}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row" data-label="Description">{{row.description}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let row" data-label="Type">{{row.type}}</td>
      </ng-container>

      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef>Account holder</th>
        <td mat-cell *matCellDef="let row" data-label="Account Holder">{{row.accountholder}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let row" data-label="Amount">{{row.amount}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row" data-label="Date">{{row.trandate|date}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row" data-label="Actions">
          <button mat-icon-button (click)="viewTransaction(row)">
            <mat-icon class="mat-18x">visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="charges">
        <th mat-header-cell *matHeaderCellDef>Charges</th>
        <td mat-cell *matCellDef="let row" data-label="Charges">{{row.deduction}}</td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator class="paginator" showFirstLastButtons [length]="tableLength" [pageIndex]="0"
      [pageSize]="7">
    </mat-paginator>
  </div>

</div>