<div class="main-dialog">
  <div class="dialog-title">
    <h3 mat-dialog-title style="padding-top: 1em;">Credit Approve</h3>
    <mat-icon (click)="closeDialog()" color="warn">close</mat-icon>
  </div>
  

  <mat-dialog-content class="dialog-row">
    <div class="action-form">
      <mat-form-field class="form-field" appearance="outline">
        <input matInput placeholder="Amount" class="amount">
        <span matPrefix>&#8358;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
  
      <mat-form-field class="form-field " appearance="outline">
        <input matInput placeholder="Comment" >
        <mat-icon matPrefix>comment</mat-icon>   
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Seclect Action</mat-label>
        <mat-select [(value)]="selecdtedAction" matNativeControl required>
          <mat-option>Select action</mat-option>
          <mat-option value="0">Approve</mat-option>
          <mat-option value="1">Decline</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
   
    <div class="performance">
      <h4>Performance History</h4>
      <a mat-button>Unsettled credit</a>
      <a mat-button>Requsest amount</a>
      <a mat-button>Reviewer Comment</a>
      <a mat-button>Review amount</a>
      
    </div>  
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-footer">    
      <button mat-button mat-raised-button color="primary">Post</button>
  </mat-dialog-actions>
  <div >
    
  </div>
  
</div>