<div class="main-dialog">
  <div class="dialog-title">
    <h3 mat-dialog-title style="padding-top: 1em;">Credit Approve</h3>
    <button mat-icon-button aria-label="closeDialog" (click)="closeDialog()">
      <mat-icon  color="warn">close</mat-icon>
    </button>
    
  </div>
 <form #creditToApproveForm="ngForm" ngSubmit="approveCredit()" novalidate>
  <mat-dialog-content class="dialog-row">
    <div class="action-form">
      <mat-form-field class="form-field" appearance="outline">
        <input matInput placeholder="Amount" class="amount" required
        name="approveAmount" ngModel #approveAmount="ngModel" [(ngModel)]="formModel.approveamount"
            [class.warn]="approveAmount.invalid && approveAmount.touched">
        <span matPrefix>&#8358;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
  
      <mat-form-field class="form-field " appearance="outline">
        <input matInput placeholder="Comment" name="comment" ngModel #comment="ngModel" 
        [(ngModel)]="formModel.comment"
         >
        <mat-icon matPrefix>comment</mat-icon>   
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Seclect Action</mat-label>
        <mat-select [(value)]="selecdtedAction" matNativeControl required
          name="status" ngModel #status="ngModel"
            [class.warn]="status.invalid"
            [(ngModel)]="formModel.status">
          <mat-option>Select action</mat-option>
          <mat-option value="0">Approve</mat-option>
          <mat-option value="1">Decline</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
   
    <div class="performance">
      <h4 >Performance History</h4>
     
      <a mat-button >Unsettled credit:&nbsp;&nbsp;&nbsp; <span class="mat-title primary-text">&#8358; {{ userPerformance.unsettled_credit }}</span></a>
      <a mat-button>Request amount:&nbsp;&nbsp;&nbsp; <span class="mat-title primary-text">&#8358; {{ data.amount }}</span></a>
      
      <p>
        <a mat-button>Reviewer Comment</a><br /> {{ data.comment }}
      </p>
      <a mat-button>Review amount:&nbsp;&nbsp;&nbsp; <span class="mat-title primary-text">&#8358; {{ data.reviewamount }} </span></a>
      
    </div>  
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-footer">
      <button mat-button mat-dialog-close mat-raised-button color="primary" (click)="approveCredit()">Post</button>      
    <button mat-button mat-dialog-close mat-raised-button color="primary">Verify Performance</button>
  </mat-dialog-actions>
 </form> 


 
  
</div>