<form class="form-container" (ngSubmit)="changePassword()"
  [formGroup]="changePasswordForm">
  <div class="flex-el" style="margin-bottom: 5px;">
    <div class="flex-el title">
        Change your password
    </div>
    &nbsp;
    &nbsp;
    <div *ngIf="loading">
      <mat-spinner 
        color="accent"
        [strokeWidth]= 3
        [diameter]=18>
      </mat-spinner>
    </div>
  </div>

  <div style="color: red; width: 300px;
    white-space: break-spaces;margin-bottom: 5px;">{{error}}
  </div>

  <div class="flex-vertical">
    <mat-form-field>
        <input matInput formControlName="oldpass" type="password"
        placeholder="Old password">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput formControlName="newpass"  type="password"
        placeholder="New password">
      </mat-form-field>
    
  </div>
  
  &nbsp;
  <div class="flex-end wrap">
    <button mat-raised-button color="primary">Change</button> &nbsp;
    <button mat-button color="warn" (click)="closeModal()">Close</button>
  </div>
</form>
