table {
    width: 100%;
    // cursor: pointer;
    
}
.search-container{
    display: flex;
    justify-content: flex-start;
}

.jamez-input{
    width:150px;
}
// .mat-column-amount{
    
// }
// .mat-column-walletbalance{
    
// }