<mat-tab-group color="accent">
  <mat-tab label="Daily Savings"> 
    <app-daily-savings></app-daily-savings>
   </mat-tab>
  <mat-tab label="Active Savings"> 
   <app-active-savings></app-active-savings>
  </mat-tab>
  <mat-tab label="Completed Savings"> 
    <app-savings-list></app-savings-list>
  </mat-tab>
  <mat-tab label="All Savings"> 
    <app-all-savings></app-all-savings>
  </mat-tab>
  <mat-tab label="Savings Balance">
    <app-savings-balance></app-savings-balance>
  </mat-tab>
  <mat-tab label="Cashout Notification">
    <app-cashout></app-cashout>
  </mat-tab>
</mat-tab-group>
