$primary-color : #8948fc;
$secondary-color:#3fc5fa;
$tertiary-color:#17223E;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
  border-right: none;
  box-shadow: 1px 0px 12px -2px #aaa;
  background: #212529;
}

.flex-stretch{ 
  display: flex!important;
  flex-direction: column!important;
  justify-content: space-between!important;
  height:100%;
}

.logout{
  font-size: 18px;
  font-weight:500;
}

.nav-header{
  font-size: 12px;
  font-weight:500;
  margin-left:15px;

}

.menu-wrapper{
  height: 88vh; overflow-y: auto; 
  &:hover{
    &::-webkit-scrollbar {
      width: 7px!important;
    }
  }
  
  /* width */
  &::-webkit-scrollbar {
    width: 5px!important;
    transition: all .5s;
  }
  &::-ms-scrollbar {
    width: 5px!important;
    transition: all .5s;
  }
  &::-o-scrollbar {
    width: 5px!important;
    transition: all .5s;
  }
  &::-moz-scrollbar {
    width: 5px!important;
    transition: all .5s;
  }

  
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey!important;
    border-radius: 10px!important;
  }
  &::-ms-scrollbar-track {
    box-shadow: inset 0 0 5px grey!important;
    border-radius: 10px!important;
  }
  &::-o-scrollbar-track {
    box-shadow: inset 0 0 5px grey!important;
    border-radius: 10px!important;
  }
  &::-moz-scrollbar-track {
    box-shadow: inset 0 0 5px grey!important;
    border-radius: 10px!important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #dddddda8;
    border-radius: 10px!important;
  }
  &::-o-scrollbar-thumb {
    background: #dddddda8;
    border-radius: 10px!important;
  }
  &::-ms-scrollbar-thumb {
    background: #dddddda8;
    border-radius: 10px!important;
  }
  &::-moz-scrollbar-thumb {
    background: #dddddda8;
    border-radius: 10px!important;
  }
}

.mat-drawer-container{
  background-color: #f2f2f2!important;
}

.mat-list-item{
  // margin:5px 0;
  height: 43px!important;
  font-size: 15px;
  font-weight:500;
  &.active-link{
    border-left:5px solid $primary-color!important;
    background-color:#2e343a!important;
  }
  .mat-icon{
    // margin:0 auto;
    font-size: 20px;
    color:#fff;
  }
  
  .sidebar-name{
    margin-left:10px;
    color:#fff;
    font-size: small;
    font-weight: 400;
  }
}
.user-block{
  border-left:2px solid rgba(254, 23, 95, 0.9);
  padding:0 10px;
}

.user{
  font-size:15px; font-weight:500;
}
.role{
  font-size:12px; font-weight:500;
  color:#ccc;
}

.remaining-space{
  flex:1 1 auto;
}

// sidebar Top bar
.sidenav .mat-toolbar {
  background: inherit;
}

// Top bar
.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  // color:#fafafa;
  background: #ffffff;
  padding-right:30px;  
  &.top-bar{
    box-shadow: 0 1px 4px -2px #ccc;
  }
}


.head-office{
  font-size: 15px; position: relative; 
  top:-10px; 
  color: $primary-color;
}

.mat-list-item{
  font-size: 15px;

  &.active-link{
    background-color:#2f2e2e5e!important
  }
  
}


.avatar{
  border-radius: 50%;
  width:40px;
  height:40px;
  background-color:#8948fce3;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color:#fafafa;
  position: relative;

  .indication{
    // border-radius: 50%;
    // width:10px;
    // height:10px;
    position: absolute;
    bottom: -5px;
    color: #bababa;
    right: -5px;
  }
}

.user-toolbar-container{
  padding:10px 20px;
  .user-toolbar-name{
    font-size: 20px; margin-bottom:5px; font-weight:300;
    // color: #8948fc;
  }
  .user-toolbar-email{
    font-size: 14px;color:rgb(104, 103, 103); 
    margin-bottom:5px; font-weight: 500;
  }

  .user-toolbar-menu{
    .list{
      padding:10px 0; 
      color: #666;
      font-size: 15px;
      list-style: none;
      cursor: pointer;
      &.notif-no{
        color:#8948fc;
      }
    }         
  }
}


@media only screen and (max-width: 600px) {
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
    color:#fafafa;
    padding-right:10px;
    padding-left:10px;    
  } 
}

