<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <div class="flex-stretch">
        <div>
          <mat-toolbar> 
            <img src="assets/images/newswipe-logo.svg" width="150" alt="">
          </mat-toolbar>
          <div class="menu-wrapper">
            <mat-nav-list>
              <!-- <div class="nav-header">NAVIGATIONS</div> -->
              <!-- <div>
                <div *ngFor="let menu of menuList">
                  <a mat-list-item [routerLink]="menu.route"  
                  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                    true}"> 
                    <mat-icon>{{menu.icon}}</mat-icon> 
                    <span class="sidebar-name"> {{menu.name}} </span>
                  </a>
                </div>
              </div> -->

              <div>
                <div *ngFor="let menu of authorizedMenu">
                  <a mat-list-item [routerLink]="menu.route" 
                  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                    true}"> 
                    <mat-icon>{{menu.icon}}</mat-icon> 
                    <span class="sidebar-name"> {{menu.name}} </span>
                  </a>
                </div>
              </div>

            </mat-nav-list>
          </div>
        </div>
        <!-- <div class="logout">
            <div>FAQ</div>
            <div>
            <mat-icon class="mat-18x" color="primary">power_settings_new</mat-icon> 
            <span>LOGOUT</span>
          </div>
        </div> -->
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top-bar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- <span style="color:#fafafa; font-weight:500; font-size:15px"></span> -->
      <span style="font-weight:500; font-size:18px">
        <span *ngIf="!isBank">Administrator</span>
        <span *ngIf="isBank">Banker</span>
        
        <!-- <span class="web-view">Welcome,</span> {{activeUser.data.name}} -->
      </span>

      <span class="remaining-space"></span>

      <!-- <button mat-button>FAQs</button> -->
      <button (click)="collectDebt()" *ngIf="isBank || isFinance || isAdmin" mat-button>
        <span>Debt Collection</span>
      </button>

      <button routerLink="/creditrequests" *ngIf="isAdmin || isBank" mat-button>
        <mat-icon class="mat-18x">money</mat-icon>
        <span>Credit Request</span>
      </button>

      &nbsp;

      <div class="flex-el">
        <div [matMenuTriggerFor]="profile" class="avatar" 
        style="margin-right:10px;">
          {{getInitials(activeUser.data.name)}}
          <!-- <div class="indication">
            <mat-icon class="mat-18x">settings</mat-icon>
          </div> -->
        </div>
        <div>
          <div style="font-size: 16px; font-weight: 600; color: #555;">{{activeUser.data.name}}</div>
          <!-- <div class="head-office">Head Office</div> -->
        </div>
      </div>
      
      <mat-menu #profile="matMenu">
        <div class="user-toolbar-container">
          <div class="flex-el wrap" style="margin-bottom:20px;">
            <div class="avatar">
              {{getInitials(activeUser.data.name)}}
            </div>
            &nbsp;

            <div style="margin-top:5px;">
              <div class="user-toolbar-name">{{activeUser.data.name}}</div>
              <div class="user-toolbar-email">{{activeUser.data.contactemail}}</div>
            </div>
          </div>
          <div class="user-toolbar-menu">
            <!-- <li disabled class="list">Notifications <sup class="has-text-primary">{{ '0' }}</sup></li> -->
            <li class="list" (click)="changePassword()">Change Password</li>
            <li class="list" (click)="logout()" style="color: red"> Sign Out </li>
          </div>
        </div>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
